<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- Meta description for the page -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="The cats vs. dogs voting application written in vue.js">
		<meta name="keywords" content="docker, docker-compose, kubernetes, openshift">
		<meta name="author" content="bl00na">
		<link rel="icon" href="./res/network.ico">

		<!-- Website title -->
		<title>Cats vs. Dogs: Vote</title>

		<!-- CSS files import -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel='stylesheet' href="./css/app.css" />

		<!-- JavaScript files import -->		
		<script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js"></script>
		<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
		<script src="https://unpkg.com/vue-router@3.3.4/dist/vue-router.js"></script>
		<script src="https://unpkg.com/axios@0.19.2/dist/axios.js"></script>
		<script src="src/app.js"></script>
	</head>
	<body>		
		<div class="website" id="app">
			<div class="page-header">
				<h3>{{getTitle}}</h3>
			</div>
			<div class="page-body">					
				<div id="content-container">
					<div id="content-container-center">						
						<!--<form @submit.prevent="handleSubmit">
							<button type="submit" id="a" class="a" name="vote" value="a">{{option_a}}</button>
							<button type="submit" id="b" class="b" name="vote" value="b">{{option_b}}</button>
						</form>-->
						<!-- 'v-on:' can be shorten with just '@' and 'v-bind:' can be shorten with just ':' -->
						<button v-for="option in options" :id="option.id" :class="option.id" @click="setVote(option.id)">{{option.title}}</button>
						<div id="tip" v-if="this.vote">
							(Tip: you can change your vote)
						</div>
						<div id="hostname" v-if="this.hostname">
							Processed by container ID {{hostname}}
						</div>
					</div>
				</div>
			</div>
			<div class="page-footer">					
			</div>
		</div>
	</body>
</html>
